assets/source/office/**/*.bin filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.glb filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.gltf filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.fbx filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.obj filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.mtl filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.webp filter=lfs diff=lfs merge=lfs -text
assets/source/office/**/*.ktx2 filter=lfs diff=lfs merge=lfs -text
